@use '../variables' as *;

.empty-state {
  text-align: center;
  padding: $spacing-2xl $spacing-md;

  .empty-icon {
    font-size: 5rem;
    margin-bottom: $spacing-md;
    opacity: 0.5;
    filter: grayscale(40%);
  }

  h3 {
    font-size: 1.75rem;
    color: $text-dark;
    margin: $spacing-md 0 $spacing-xs 0;
  }

  p {
    color: $text-light;
    margin-bottom: $spacing-xl;
    font-size: 1.125rem;
  }
}
